PyQt6
pymysql  # MariaDB(MySQL) 연결용 라이브러리
undetected-chromedriver  # 자동화 탐지 우회 가능
websockets  # CDP 프로토콜 통신
setuptools
beautifulsoup4
pandas
openpyxl
pywin32
psutil  # 프로세스 관리에 필요한 라이브러리
pyinstaller  # exe 파일로 변환
pycryptodome